<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - PortalFace.NET</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css">
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
        <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

        <!-- Load the stylesheets -->
        @Styles.Render("~/Content/PortalFace/news_item_styling.css")
        @Styles.Render("~/Content/PortalFace/style.css")
        @Styles.Render("~/Content/PortalFace/fbfont.css")
        @Styles.Render("~/Content/PortalFace/overwrite_jquery.css")
        
        <!-- Load some internal scripts -->
        @Scripts.Render("~/Scripts/HelperFunctions.js")

    </head>
    <body>
    <div id="head">
        <h1>
            <a href=@Url.Action("Index", "Home") class="title_text">PortalFace</a>
            @if (Session["AccessToken"] != null){
                <!--Show only if the user is logged in-->
	            <button class="logOut" onclick="logoutFB()">Log Out</button>
                
                <script>
                    // Load the SDK Asynchronously
                    (function (d) {
                        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
                        if (d.getElementById(id)) { return; }
                        js = d.createElement('script'); js.id = id; js.async = true;
                        js.src = "//connect.facebook.net/en_US/all.js";
                        ref.parentNode.insertBefore(js, ref);
                    }(document));

                    function logoutFB() {
                        FB.logout(function (response) {
                            window.location.replace("/");
                        });
                    }

                    var newsFeedLoad = true;

                    var urlParts = location.href.split('/');

                    if (urlParts[urlParts.length - 1].match("PortalFace")) {
                        newsFeedLoad = false;
                    }

                    window.fbAsyncInit = function () {
                        FB.init({
                            //appId: '393153644124938', // Production App ID
                            appId: '504444616269557', //Development App ID
                            //appId: '519653581405061', //Staging App ID
                            status: true, // check login status
                            cookie: true, // enable cookies to allow the server to access the session
                            xfbml: true  // parse XFBML
                        });

                        // Additional initialization code here
                        FB.Event.subscribe('auth.authResponseChange', function (response) {
                            if (response.status === 'connected') {
                                // the user is logged in and has authenticated your
                                // app, and response.authResponse supplies
                                // the user's ID, a valid access token, a signed
                                // request, and the time the access token 
                                var uid = response.authResponse.userID;
                                var accessToken = response.authResponse.accessToken;

                                if (newsFeedLoad == false) {
                                    getNewsFeed();
                                    newsFeedLoad = true;
                                }
                            } else if (response.status === 'not_authorized') {
                                // the user is logged in to Facebook, 
                                // but has not authenticated your app
                            } else {
                                // the user isn't logged in to Facebook.
                            }
                        });
                    };
                </script>
            }
        </h1>
    </div>
    @RenderSection("body", required: false)
    
    </body>
</html>
