@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main Page";
}

@section body {
    <script>
        function findAndAddFriend(userName) {
            FB.api({
                method: 'fql.query',
                query: 'SELECT uid FROM user WHERE username=' + userName,
            }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
            addFriend(uid);
        }

        function findFriend(username) {
            FB.api({ method: 'friends.get' }, function (response) {
                alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

        function messageFriend() {
            FB.ui({
                method: 'send',
                link: 'http://portalface.net/'
                //to: uid,
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }
        function addPhoto(imgURL) {
            var uid = FB.getUserID();
            console.log(uid);
            //var imgURL = "http://farm4.staticflickr.com/3332/3451193407_b7f047f4b4_o.jpg";//change with your external photo url

            //var imgURL = $("#photoURL").val();

            imgURL = imgURL + ".jpg";

            console.log(imgURL);
            FB.api('/'+uid+'/photos', 'post', {
                message: 'photo description',
                url: imgURL
            }, function (response) {
                if (!response || response.error) {
                    alert('Error occured');
                    console.log(response.error);
                } else {
                    //alert('Post ID: ' + response.id);
                    $("#photoURL").val("");
                }

            });
        }
        function addFriend() {
            var uid = $("#friendUsername").val();

            // server call
            FB.ui({
                method: 'friends.add',
                id: uid
            }, function (response) {
                //alert(JSON.stringify(response)); //DEBUG PURPOSES ONLY!
            });
        }

    </script>
    
    <script src="http://js.pusher.com/2.0/pusher.min.js"></script>
    <script>
        var pusher = new Pusher('ab3a6a2e93203b02ee34');
        var channel = pusher.subscribe('private-portalface-chat-messages');
        
        channel.bind('client-portalface-chat-messages', function (data) {
            $("#chat").append("" + data.message + "<br/>");
        });

        console.log(channel);
    </script> 


<script type="text/javascript">

    /* Drag'n drop stuff */
    window.ondragover = function (e) { e.preventDefault() }
    window.ondrop = function (e) { e.preventDefault(); upload(e.dataTransfer.files[0]); }
    function upload(file) {

        /* Is the file an image? */
        if (!file || !file.type.match(/image.*/)) return;

        /* It is! */
        document.body.className = "uploading";

        /* Lets build a FormData object*/
        var fd = new FormData(); // I wrote about it: https://hacks.mozilla.org/2011/01/how-to-develop-a-html5-image-uploader/
        fd.append("image", file); // Append the file
        fd.append("key", "6528448c258cff474ca9701c5bab6927"); // Get your own key http://api.imgur.com/
        var xhr = new XMLHttpRequest(); // Create the XHR (Cross-Domain XHR FTW!!!) Thank you sooooo much imgur.com
        xhr.open("POST", "http://api.imgur.com/2/upload.json"); // Boooom!
        xhr.onload = function () {
            // Big win!
            document.querySelector("#link");
            addPhoto(JSON.parse(xhr.responseText).upload.links.imgur_page);
           // console.log();
            document.body.className = "uploaded";
           
        }
        // Ok, I don't handle the errors. An exercice for the reader.

        /* And now, we send the formdata */
        xhr.send(fd);
    }
</script>
    
    <div id="columns">
        <ul id="column1" class="column">
            <li class="widget color-red" >
                <div class="widget-head">
                    <h3 class = "widget-titles" ><strong>Facebook Actions</strong></h3>
                </div>
                <div class="widget-content">
                    <!-- <h3>Welcome back @ViewBag.Name <button onclick="document.querySelector('input').click()">Or click</button></h3> -->
                    <br />
                    <div id="fbactions">
                        <h4 class ="fb_Actions">Message Friends</h4>
                        <div><button onclick="messageFriend()">Open Message Dialog</button></div>
                        <h4 class ="fb_Actions">Add Friends</h4>
                        <div><input type="text" placeholder="Friend's Facebook Id" id="friendUsername" /><button onclick="addFriend()">Add Friend</button></div>
                        <h4 class ="fb_Actions">Add Photo</h4>
                        <div id="photo_upload">
                            <p>
                                <a id="link">Finished.</a>
                                <a id="replace">Drop here.</a>
                            
                            <input type="file" onchange="upload(this.files[0])"></p>
                        </div>
                        
                    </div>
                    <script>
                        $("#fbactions").accordion();
                    </script>
                </div>
            </li>
            <li class="widget color-purple">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Stock Watch</strong></h3>
                </div>
                <div class="widget-content" id="stocks">

                </div>
            </li>
            
        </ul>

        <ul id="column2" class="column">
            <li class="widget color-blue">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Post to Facebook</strong></h3>
                </div>
                <div class="widget-content" id="status">

                        
                </div>
            </li>
            <li class="widget color-green">
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Timeline</strong></h3>
                </div>
                <div class="widget-content">
                    <!-- List Style specified here because css isnt 
                         behaving across browsers for overwriting things -->
                    <ul id="feed" style="list-style: none;">

                    </ul>

                </div>
            </li>
            
        </ul>
        
        <ul id="column3" class="column">
            <li class="widget color-orange">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Schedule</strong></h3>
                </div>
                <div class="widget-content">
                    <a class="widget-content-link" href = "../Calendar/Index">
                    <div id="events" >
                        <p>
                        
                            <i class="icon-calendar"></i>  Click Here to view Calendar
                        
                        </p>
                    </div>
                    </a>
                </div>
            </li>
            <li class="widget color-main">  
                <div class="widget-head">
                    <h3 class = "widget-titles"><strong>Global Chat</strong></h3>
                </div>
                <div class="widget-content">
                    <div id="chat" style ="height:250px; width:auto; border:hidden; overflow:auto">
                        Welcome to the chat! <br/>
                    </div>
                    <input type="text" id="chat_Messages" />
                    <button id="chatSend">Send</button>
                    <script>
                        $("#chatSend").click(function () {
                            var Message = $("#chat_Messages").val();
                            Message = "<b>@ViewBag.name:</b> " + Message;
                            //console.log(Message);
                            var trigered = channel.trigger('client-portalface-chat-messages', { message: Message });
                            $("#chat").append("" + Message + "<br/>");
                            $("#chat_Messages").val('');
                            console.log(trigered);
                        });
                    </script>
                </div>
                
            </li>
            <li>
                <center> 
                <img src="@Url.Content("~/Content/PortalFace/img/Logo.png")" height="300px" />
                </center>
            </li>
            
        </ul>
        
    </div>
    
    @Scripts.Render("~/Scripts/LoadMainContent.js")
    @Scripts.Render("~/Scripts/widget_functionality.js")

}
