@{
    Layout = null;
}

<h1 class = "StockInfoTitle">
    @ViewBag.name - @ViewBag.symbol
</h1>
<table>
    <thead>
        <tr class = "StockTableHeaders">
            <td class ="stockCol">Name</td>
            <td class ="stockCol">Symbol</td>
            <td class ="stockCol">Bid Price</td>
            <td class ="stockCol">Day High</td>
            <td>Day Low</td>
        </tr>
    </thead>
    <tr class = "StockInfo">
        <td class ="stockCol">@ViewBag.name</td>
        <td class ="stockCol">@ViewBag.symbol</td>
        <td class ="stockCol">@ViewBag.current</td>
        <td class ="stockCol">@ViewBag.dayHigh</td>
        <td>@ViewBag.dayLow</td>
    </tr>
</table>

