@{
    Layout = null;
}

<h1 class = "StockInfoTitle">
    @ViewBag.name - <a href="http://www.google.com/finance?q=@ViewBag.symbol" target="_blank">@ViewBag.symbol</a>
</h1>
<table>
<td>
<dl class="dl-horizontal">
    <dt>Name</dt>
    <dd>@ViewBag.name</dd>
    <dt>Symbol</dt>
    <dd>@ViewBag.symbol</dd>
    <dt>Bid Price</dt>
    <dd>@ViewBag.current</dd>
</dl>
</td>
<td>
<dl class="dl-horizontal float-right">
    <dt>Day High</dt>
    <dd>@ViewBag.dayHigh</dd>
    <dt>Day Low</dt>
    <dd>@ViewBag.dayLow</dd>
</dl>
</td>
</table>