@{
    Layout = null;
}

<h1 class = "StockInfoTitle">
    @ViewBag.name - @ViewBag.symbol
</h1>
<table>
    <thead>
        <tr class = "StockTableHeaders">
            <td>Name</td>
            <td>Symbol</td>
            <td>Bid Price</td>
            <td>Day High</td>
            <td>Day Low</td>
        </tr>
    </thead>
    <tr class = "StockInfo">
        <td>@ViewBag.name</td>
        <td>@ViewBag.symbol</td>
        <td>@ViewBag.current</td>
        <td>@ViewBag.dayHigh</td>
        <td>@ViewBag.dayLow</td>
    </tr>
</table>

